<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
    <body>
        <%- include("./partials/navbar.ejs") %>
        <h1>Profile</h1>
        <div class="button-center">
            <a href="/profile/register-flokk" class="btn">Registrer flokk og beiteområde</a>
            <a href="/auth/logout" class="btn">Logg ut</a>  
        </div>
        
        
        <div class="flokker-container">
            <% if (locals.flokker && flokker.length > 0) { %>
                <% flokker.forEach(flokk => { %>
                    <div class="flokk-card">
                        <button onclick="deleteFlokk('<%= flokk._id %>')" class="delete-flokk" style="position: absolute; top: 5px; right: 5px;">❌</button>
                        <h3><%= flokk.navn %></h3>
                        <p><strong>Serieinndeling:</strong> <%= flokk.serieinndeling %></p>
                        <p><strong>Buemerke:</strong><%= flokk.buemerkeNavn %></p>
                        <% if (flokk.buemerkeBilde) { %>
                            <img src="/<%= flokk.buemerkeBilde.replace('public/', '') %>" alt="Buemerke" width="100">
                        <% } %>
                        <h4>Beiteområder:</h4>
                        <ul>
                            <% flokk.beiteomraader.forEach(beite => { %>
                                <li>
                                    <%= beite.beiteomraade %> 
                                    - <%= beite.fylker.join(', ') %>
                                </li>
                            <% }) %>
                        </ul>
                        
                        <!-- Remove the reinsdyr list and add the navigation button -->
                        <div class="flokk-buttons">
                            <a href="/profile/flokk-reindeer/<%= flokk._id %>" class="btn">Vis reinsdyr</a>
                            <a href="/profile/register-rein/<%= flokk._id %>" class="btn btn-secondary">Tilføy reindyr</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Du har ingen registrerte flokker ennå.</p>
            <% } %>
        </div>
    </body>
    <script>
        function deleteFlokk(flokkId) {
            if (confirm('Er du sikker på at du vil slette denne flokken og alle tilhørende reinsdyr?')) {
                fetch(`/profile/delete-flokk/${flokkId}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === 'Flokk og tilhørende reinsdyr slettet') {
                            location.reload();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('En feil oppstod. Vennligst prøv igjen senere.');
                    });
            }
        }
    </script>
</html>